
bin/Debug/The Learning IDE.exe
bin/Debug/The Learning IDE.pdb
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/The Learning IDE.exe
obj/Debug/The Learning IDE.g.resources
obj/Debug/The Learning IDE.pdb
